.grid-container {
    display: flex;
    justify-content: center;
}

.grid-item {
    display: flex;

    & > * {
        display: flex;
        flex-direction: column;
        flex: auto;

        & > * {
            flex: auto;
        }
    }
}
