.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.paper {
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: translateY(-5px);
    }
}
