.card {
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    .card-content {
        padding: 1rem;
        text-align: center;
    }

    .card-title {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: var(--mui-palette-primary-main);
    }

    .card-description {
        color: var(--mui-palette-text-secondary);
    }

    .card-icon-container {
        color: var(--mui-palette-primary-main);
    }

    .card-image-container {
        max-height: 200px;
        overflow: hidden;
    }

    .card-image {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    .card-action {
        margin-top: 1rem;
    }
}
