.page-header {
    h1 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--mui-palette-primary-main);
    }

    p {
        text-align: center;
        margin-bottom: 4rem;
        color: var(--mui-palette-text-primary);
    }
}
